.prose {
  h2,
  h3,
  p,
  ul,
  ol {
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  h2 {
    @apply type-headline;
  }

  h3 {
    @apply type-headline-sm;
  }

  a {
    @apply opacity-60 hover:opacity-100;
  }

  ul {
    list-style-type: disc;
    padding-left: 1em;
  }
}
